@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin: 0 ;
    padding: 0 ;
}
section{
    width: 100%;
    min-height: 100vh;
    background: url("../img/atd.jpg");
    background-size: cover;
}

section.active{
    width: 100%;
    min-height: 100vh;
    background: url("../img/atardecer.jpg");
    background-size: cover;
}
div#fila{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
    padding-top: 120px;
}
.col-der,
.col-izq{
    width: 50%;
    text-align: center;
    border: 1px solid #fff;
    background: #0000008a;
    padding: 40px;
    min-height: 600px;
}
h2{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
button{
    background: #fff;
    color: #000;
    padding: 10px 30px;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    transform: scale(.9);
    background: #1f1e1e;
    color: #cd2aff;
}
#figura{
    width: 210px;
    height: 210px;
    background: #cd2aff;
    margin: 100px auto;
    transition: 1s;
}
#figura.circulo{
    transform: rotate(360deg) scale(1.8)  ;
    border-radius: 50%;
}
#figura.rectangulo{
    height: 300px;
    background:#cd2aff;
}
#figura.degradado{
    background: linear-gradient(to right, rgb(34, 228, 89) , rgb(34, 98, 237) );
    transition: .5s;
}
#figura.gif{
    background: url("../img/boat-7092_256.gif") no-repeat;
    background-size: contain;
}
#figura.luna{
    top: 50%;
    left: 50%;
    background: transparent;
    box-shadow: -25px 25px 0 10px rgb(255, 255, 255)  ;
    border-radius: 50%;
}
#figura.estrella{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #cd2aff;
    position: relative;
    background: transparent;
}
#figura.estrella:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #cd2aff;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
    background: transparent;
}
#figura.triangulo{
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    background: transparent;
    border-bottom: 120px solid rgb(255, 255, 0);
}
#figura.top{
    transform: translateY(-100px);
}
#figura.botton {
    transform: translateY(120px);
}
#figura.left{
    transform: translateX(-200px);
}
#figura.right{
    transform: translateX(200px);
}
#figura.diagonal{
    transform: translateX(200px)translateY(120px);
}
#figura.bg{
    background: url("../img/lunaSangre.jpg") no-repeat;
    background-size: contain;
}
  
#panel-lateral{
    width: 400px;
    height: 100vh;
    position: absolute;
    left: -450px;
    top: 0;
    z-index: 9;
    background: salmon;
    transition: .5s;
}

#panel-lateral.active{
    left: 0;
}

#panel-lateral h2{
    color: #000;
    font-size: 40px;
    padding: 40px 30px;
}

#panel-lateral ul{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

#panel-lateral ul a{
    display: block;
    padding: 20px;
    background-color: #000;
    color: #fff;
    margin: 20px 0;
    text-decoration: none;
    font-size: 22px;
}

#panel-lateral ul a:hover{
    border-radius: 20px;
}

#panel-superior{
    width: 100%;
    height: 100%;
    background: salmon;
    position: absolute;
    top: -110%;
    left: 0;
    z-index: 10;
    transition: 1s;
    text-align: center;
}

#panel-superior.active{
    top: 0;
}